[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dendroTools"]
	path = dendroTools
	url = https://github.com/jernejjevsenak/dendrotools
	shallow = true
	registered = true
[submodule "rTG"]
	path = rTG
	url = https://github.com/jernejjevsenak/rtg
	shallow = true
	registered = true
