[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dendroTools"]
	path = dendroTools
	url = https://github.com/jernejjevsenak/dendrotools
[submodule "MLFS"]
	path = MLFS
	url = https://github.com/jernejjevsenak/mlfs
[submodule "rTG"]
	path = rTG
	url = https://github.com/jernejjevsenak/rtg
